body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/lukas-neasi-65741.jpg');
  background-size: cover;
  background-color: #944500;
}

h1 {
  font-size: 2em;
  font-family: 'Diplomata SC', cursive;
}
h3 {
  font-size: 1.5em;
}

a {
  color: #00B7FF;
}

header {
  padding-top: 2vh;
  height: 6vh;
  background-image: url("../images/WoodPlanksDirty0057_2_S.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  border-bottom: ridge 4px #682D00;
}

.logo {
  opacity: .8;
  text-align: center;
  color: black;
  text-shadow: 1px 1px #DBB071;
  text-shadow: 3px 3px 3px 3px #DFBE7F;
}

.error {
  margin-top: 10px;
  clear: both;
  float: right;
  color: red;
}

.login {
  height: auto;
  width: 25vw;
  margin-top: 10vh;
  margin-left: 10vw;
  padding: 20px;
  background-color: black;
  opacity: .9;
  border-radius: 30px;
  border: ridge 3px #A2C2A0;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: .5em;
  color: #F2F8E6;
}
.menu {
  max-height: 500px;
  overflow: scroll;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #F2F8E6;
}

.login form, .newmatch form {
  margin-bottom: 10px;
  text-align: right;
}
.login input[type=text], input[type=password], .login p, .login label, .newmatch input {
  margin-top: 10px;
}
.login input[type=submit], .newmatch input[type=submit]{
  margin-top: 10px;
  float: right;
  clear: both;
}

input[type=button], input[type=submit] {
  margin: 5px;
  border-radius: 5px;
  background-color: blue;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 120%;
  color: #F2F8E6;
  text-decoration: none;
}

input[type=button].deleteButton {
  background-color: red;
}

input[type=button]:hover, input[type=submit]:hover {
  cursor: pointer;
  background-color: darkblue;
}

hr {
  margin-bottom: 1em;
}

.menu {
  margin-top: 10vh;
  margin-left: 10vw;
  height: auto;
  width: 25%;
  padding: 20px;
  background-color: black;
  opacity: .9;
  border-radius: 30px;
  border: ridge 3px #A2C2A0;
}
.menu li {
  margin: 5px;
}
