

<div class="home">
  <input type="button" onclick="location.href='/matches'" value="view matches"></br>
  <input type="button" onclick="location.href='/matches/newmatch'" value="start new match">
  <ul>
    <li>do other stuff...</li>
    <li>show average score, mean score, last score</li>
  </ul>
</div>
