
<ul>
  <li><a href='/matches'>view matches</a></li>
  <li><a href='/matches/newmatch'>start a new match</a></li>
  <li>do other stuff...</li>
  <li>show average score, mean score, last score</li>
</ul>
