


<div class="login">
  <h3 class="title">welcome</h3>
  <p>
    This is an app for tracking your archery scores over time and help you
    recognize how you can improve your skills
  </p>
  <hr>
  <form action="index.html" method="post">

  </form>
  {{#if id}}
    <input type="button" name="login" value="login">
    <a href="/login"><p>home</p></a>
    <input type="button" name="logout" value="logout">
    <a href="/logout"><p>logout</p></a>

  {{else}}

    <form action="/users/login" method="post">
      <label for="ScreenName">Screen Name</label>
      <input type="text" name="ScreenName" value="Screen Name" onclick='select(this)'></br>
      <label for="Password">Password</label>
      <input type="password" name="Password" value="xxxxxxxxxxx"></br>
      <input type="submit" class="button" value="Login">
    </form>
    <input type="button" onclick="location.href='/users/newuser'" name="createaccount" value="create account">
  {{/if}}
  <span class="error">{{error}}</span>
</div>
