<h1>Robin Hood Archery Score Tracker</h1>


{{#if id}}
  <a href="/login"><p>home</p></a>
  <a href="/logout"><p>logout</p></a>

{{else}}

  <a href="/login"><p>login</p></a>
  <p href="/users/newuser">create account</p>
{{/if}}
