<!DOCTYPE html>
<html>
  <head>
    <title>Robin Hood personal archery score keeper</title>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
