<!DOCTYPE html>
<html>
  <head>
    <title>Robin Hood personal archery score keeper</title>

    <!-- changes the color of the address bar -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#AD6205">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#AD6205">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#AD6205">

    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/meyer_reset.css">
    <script src="https://use.fontawesome.com/1bb41e4fb3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Diplomata+SC|Raleway:400,800" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1 class="logo">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
        Robin Hood Score Tracker
        <i class="fa fa-bullseye" aria-hidden="true"></i>
      </h1>
    </header>

    {{{body}}}
  </body>
</html>
