<a href="/home">Home</a>
<a href="/logout">Logout</a>

<h1>matches</h1>

<h3>here are some of your matches</h3>


<div class="matches">
  <ul>
    {{#each matches}}
      <li>
        <a href='./matches/match/{{this.MatchID}}'>{{this.DateTime}}</a>
          <a href='./matches/match/delete/{{this.MatchID}}'> delete </a>
      </li>
    {{/each}}
  </ul>
</div>
