
<h1>here is match number {{matchid}}</h1>

<h2>game 1</h2>
<pre>
  5 5 5 5 4 | 24  | 0
  X X X 5 5 | 25  | 3
  X X 5 5 4 | 24  | 2
  X X X X 3 | 23  | 4
</pre>
total score: 96
total X's: 9

<h2>Game 2</h2>
<pre>
  5 5 5 5 4 | 24  | 0
  X X X 5 5 | 25  | 3
  X X 5 5 4 | 24  | 2
  X X X X 3 | 23  | 4
</pre>
total score: 96
total X's: 9

<h2>Game 3</h2>
<pre>
  5 5 5 5 4 | 24  | 0
  X X X 5 5 | 25  | 3
  X X 5 5 4 | 24  | 2
  X X X X 3 | 23  | 4
</pre>
total score: 96
total X's: 9

<h2>Series Total: 288</h2>
