<a href="/home">Home</a>

<h1>matches</h1>

<h3>here are some of your matches</h3>



<ul>
  {{#each matches}}
    <li><a href='./matches/match/{{this.MatchID}}'>{{this.DateTime}}</a></li>
  {{/each}}
</ul>
