



<div class="menu matches">
  <h3 class="title">matches</h3>
  <hr>
  {{#each matches}}
    <input type="button" onclick="location.href='/matches/match/{{this.MatchID}}'" value="{{this.DateTime}}">
    <input type="button" class="deleteButton" onclick="location.href='/matches/delete/{{this.MatchID}}'" value="delete"></br>
  {{/each}}
</div>
