<h1>start a new match</h1>


<h2>New Match Info:</h2>

<form class="" action="index.html" method="post">
    <label for="location">Location</label>
    <input type="text" name="location">
    <label for="date">Date</label>
    <input type="date" name="date" value="{{todaysdate}}">
    <label for="scorekeeper">Score Keeper</label>
    <input type="text" name="scorekeeper" value="{{name}}">
    <input type="submit">
</form>
