

<div class="newmatch menu">
  <h2 class="title">New Match Info:</h2>
  <form action="/matches/newmatch" method="post">
    <label for="DateTime">Date & Time</label>
    <input type="datetime-local" name="DateTime" value="{{todaysdate}}"></br>
    <label for="Location">Location</label>
    <input type="text" name="Location"></br>
    <label for="ScoreKeeper">Score Keeper</label>
    <input type="text" name="ScoreKeeper" value="{{name}}"></br>
    <input type="submit">
  </form>
</div>
